.blacklist {
	padding: 60px 56px;
	max-width: 862px;

	.btn-edit {
		margin-top: 6px;
		padding: 4px 21px;
	}

	.cont {
		padding: 16px 20px 50px;

		.bg-lightgray {
			background-color: $lightgray05-color;
      @extend %border-8;
			color: #fff;
			padding: 2.5px 24px;

			&.numbers {
				padding: 2.5px 35px 2.5px 25px;
				margin-right: 20px; 
			}
		}

		.list-num {
			margin-top: 27px;
			max-width: 430px;
			line-height: 21px;
		}
	}
}

@include bootstrap-sm-breakpoint () {
	.blacklist {
		.cont {
			.bg-lightgray {
				padding: 2.5px 14px;

				&.numbers {
					padding: 2.5px 25px 2.5px 15px;
					margin-right: 15px; 
				}
			}

			.list-num {
        text-align: center;
			}
		}
	}
}