body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background: url(../images/screen-bg.jpg) no-repeat center top fixed;
  background-size: cover;
	color: $default-color;
}

.wrapper {
  width: 100%;
}

.cont {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 12.09px 0.91px rgba(0, 0, 0, 0.22);
  width: 100%;
  margin-bottom: 30px;  
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h3 {
  font-size: 1.308em;
  margin-bottom: 12px;
}

p {
  line-height: 1.3;
}

label {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 5px;
}

.text-lightblue {
  color: $lightblue01-color!important;
}

.text-bold {
  font-weight: 500!important;
}

.bg-lightblue {
  background-color: $lightblue01-color;
  color: #fff;
}

.bg-lightgray {
  background-color: $lightgray01-color;  
}

/* ----- Buttons ----- */
button, .btn {
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  @extend %border-8;

  i, span {
    vertical-align: middle;
  }

  i {
    font-size: 1.175em;
    margin-right: 6px;
  }

  &:focus {
    box-shadow: none;
    outline: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.btn-group {
  @extend %border-8;
  background-color: $lightgray03-color;

  .btn {
    padding: 7px 10px;
    @extend %border-8;
    background-color: $lightgray03-color;
    color: $lightgray02-color;

    &.active {
      background-color: $lightblue01-color;
      color: #fff;

      &:nth-of-type(1) {
        margin-right: 2px;
      }

      &:nth-of-type(2) {
        margin-left: 2px;
      }
    }

    i {
      font-size: 1em;
      margin-right: 0;
    }
  }
}

.btn-group-right {
  padding: 0 31px;
  height: 32px;
  margin-left: 18px;
  color: #fff!important;

  i {
    font-size: 1.25em;
  }
}

.btn-lightblue {
  background-color: $lightblue01-color;
  padding: 2.5px 8px;
}

.btn-add {
  width: 25px;
  height: 25px;
  padding: 0 5px;

  i {
    font-size: 1.25em;
  }
}

/* ----- Forms ----- */
.form-control {
  border: none;
  border-radius: 0;
  padding: 0 0 1px;
  font-size: 1.154em;
  border-bottom: 1px solid $lightgray04-color;
  color: $default-color;

  &:focus {
    color: $default-color;
    box-shadow: none;
    border-color: $lightblue01-color;
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      opacity: 0.8;
    }
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: lightgray;
  }

  &.form-lightblue {
    background-color: $lightblue01-color;
    border: none;
    @extend %border-8;
    color: #fff;
    font-size: 1em;
    width: auto;
    padding: 4px 8px;

    &.form-num {
      width: 33px;
      text-align: center;
    }
  }
}

/* ----- Hides the arrow of Input Number ----- */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* ----- Custom Select ----- */
.custom-select-option {
  position: relative;
  vertical-align: middle;
  width: 100%;

  select {
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance:none;
    /*Hiding the select arrow default implementation*/
    appearance: none;

    &:not([size]):not([multiple]) {
      height: 20px;
    }
  }

  &:before, &:after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  /*  Custom dropdown arrow */
  &:after {
    font-family: "Fontawesome";
    font-size: 1.1em; 
    font-weight: bold;
    content: "\f078";
    height: 1em;
    line-height: 1;
    right: 0;
    top: 45%;
    margin-top: -0.5em;
  }

  /*  Custom dropdown arrow cover */
  &:before {
    right: 0;
    top: 0;
    bottom: 0;    
  }

  &.active {

    &:after {
      content: "\f077";    
    }
  }

  &.select-lightblue {
    select {
      background-color: $lightblue01-color;
      color: #fff;
      border: none;
      padding: 0 10px;
      @extend %border-8;
      font-size: 1em;
      font-weight: 500;

      &:not([size]):not([multiple]) {
        height: 24px;
      }
    }

    &:after {
      color: #fff;
      right: 6px;
    }

    &.select-num {
      width: 50px;

      select {
        padding: 4px 7px;
      }
    }
  }
}

/* ----- Custom Input checkbox ----- */
.custom-checkbox {

  /* Base for label styling */
  input[type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: $default-color;
    font-size: 1em;
    line-height: 1;
  }

  /* checkbox aspect */
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; 
    top: -4px;
    width: 21px; 
    height: 21px;
    border-radius: 5px;
  }

  /* checked mark aspect */
  input[type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    font-family: "Fontawesome";
    content: "\f00c";
    position: absolute;
    top: -2px;
    left: 2px;
    font-size: 1.3em;
    color: #fff;
  }

  /* checked mark aspect changes */
  input[type="checkbox"]:not(:checked) + label:before {
    background-color: $default-color;
  }

  input[type="checkbox"]:checked + label:before {
    background-color: $checked-color;
  }
}

/* ----- Slider ----- */
.slider-range {
  max-width: 235px;
  width: 100%;
}

.ui-slider {
  border: none;
  background: $default-color;
  height: 2px;  

  .ui-slider-handle {
    border: none;
    background: $lightblue01-color;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    top: -6px;
    cursor: pointer;
    z-index: 1;
  }

  .ui-slider-range {
    background: $lightblue01-color;
    height: 2px;
    top: -1px;
  }

  &.ui-slider-disabled {
    opacity: 1;

    .ui-slider-range, .ui-slider-handle {
      background: $default-color;
    } 
  }
}

.ui-state-active, .ui-widget-content .ui-state-active {
  border: none;
  background: $lightblue01-color;
  color: #fff;
}

/* ----- Toggle Switch ----- */
.switch {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 11px;
  margin: 0 13px;
  vertical-align: middle;

  input {
    display: none;
  }

  .slider-round {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid $default-color;
    transition: 0.3s;

    &:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: -1px;
      bottom: -1px;
      border: 1px solid $default-color;
      border-radius: 50%;
      background-color: white;
      transition: 0.3s;
    }
  }

  input:checked + .slider-round {
    background-color: $lightblue01-color;
    border: none;

    &:before {
      width: 9px;
      height: 9px;
      border: none;
      bottom: 1px;
      transform: translateX(9px);
    }
  }
}

textarea {
  box-sizing: border-box;
  resize: none;

  &.bg-lightgray {
    border: 1px solid transparent;
    @extend %border-8;
    padding: 14px;
    font-size: 0.923em;
    line-height: 1.5;

    &:focus {
      border-color: $lightblue01-color;
      background-color: $lightgray01-color;
    }

    &[readonly] {
      background: transparent!important;
      border-color: transparent!important;
    }
  }
}
