
    .sign{
       
        display: inline-block;
        padding: 32px 48px 0px 48px;
        border: 5px solid rgba(0, 123, 255, 0.14);
        background-color: aliceblue !important;
        width: 100%;
           
          
    }
   .cont{
  
    margin-left: 35%;
    margin-right:35%;
    width: 30%;
   }
   .loginText{
    font-size: xx-large;
    color: cadetblue;
   }